    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
                <h4>{{TITLE}}</h4>
                <img class="mdl-color-text--grey-600 mdl-card__supporting-text" alt="picture" src="{{IMGURL}}">
            </div>
            <div class="mdl-card__actions">
                <a href="{{URL}}" class="mdl-button">继续阅读...</a>
            </div>
        </div>
    </section>